:host {
    display: block;
    margin: 50px 0;
}

.issue {
    position: relative;
    background: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,.1);
    border: 1px solid #c1cedb;
    border-radius: 3px;
    overflow: hidden;

    &__title{
        h2{
            margin: 25px ;
        }
        
        border-bottom: 1px solid #afc6cc;
    }
}